* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.caixa-maior {
    background: black;
    opacity: 0.8;
    padding: 20px;
    border-radius: 25px;
    width: 95%;
    max-width: 450px;
}

.input-cidade {
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 18px;
    background-color: #7c7c7c6b;
    width: calc(100% - 60px);
}

.botao-busca {
    padding: 10px;
    height: 44px;
    width: 44px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #7c7c7c6b;
    cursor: pointer;
    float: right;
    transition: .2s;
}

.botao-busca:hover {
    background-color: #7c7c7cab;
}

.img-busca {
    width: 20px;
}

.caixa-media {
    margin-top: 30px;
    display: block;
}

.escondido {
    display: none;
    width: 0px;
    height: 0px;
}

p, h2, input {
    color: white;
}

.cidade {
    font-size: 28px;
    font-weight: 300;
}

.temp {
    font-size: 20px;
    margin-top: 20px;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.texto-previsao {
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade {
    margin-top: 20px;
}
